<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration-Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="post" action="/">
        <div class="container">
            <h1>Registration-Form</h1>
            <!-- <div class="input">
            <label for="firstName">FirstName</label>
            <input id="firstName" type="text" placeholder="Your first name">
        </div>
        <div class="input">
            <label for="lastName">LastName</label>
            <input id="lastName" type="text" placeholder="Your last name">
        </div>
        <div class="input">
            <label for="address">Address</label>
            <input id="address" type="text" placeholder="Your Address">
        </div>
        <div class="input">
            <label for="birthDate">Date Of Birth</label>
            <input id="birthDate" type="date" placeholder="Date of birth">
        </div> -->
        <div class="input">
            <label for="username">UserName</label>
            <input name="name" id="username" type="text" placeholder="UserName">
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input name="password" id="password" type="password" placeholder="Password">
        </div>
        <div class="button"> <button>Submit</button>
        </div>
        </div>
    </form>
</body>
<script src="script.js"></script>
</html>